# Copy to .env and adjust as needed
PORTFOLIO_SERVICE_PORT=8087
PORTFOLIO_SERVICE_DB_PORT=5436
PORTFOLIO_SERVICE_ADMINER_PORT=8094
PORTFOLIO_SERVICE_DB_PASSWORD=portfolio_service_pass
PORTFOLIO_BASE_CURRENCY=USD
TWELVE_DATA_API_KEY=

# Use Dockerfile.jvm for a faster JVM image instead of native
# DOCKERFILE=Dockerfile.jvm
